@page "/servers"
@rendermode InteractiveServer


<h3>Servers</h3>

<br />
<a href="/servers/add" class="btn btn-link">Add Server</a>
<br />
<CityListComponent @ref="cityListComponent" SelectCityCallBack="HandelSelectCity"></CityListComponent>

<br />
<SearchBarComponent @ref="searchBarComponent" searchServerCallBack="HandelSearchServer"></SearchBarComponent>
<br />
<CascadingValue Name="SelectedCity" Value="@selectedCity">
<ServerListComponent @rendermode="InteractiveServer" CityName="@selectedCity" serverFilter="@serverFilter"></ServerListComponent>
</CascadingValue>
@code {

    private string selectedCity = "Toronto";
    [Parameter]
    public string serverFilter { get; set; } = "";

    private CityListComponent? cityListComponent;
    private SearchBarComponent? searchBarComponent;

    private void HandelSelectCity(string cityname)
    {
        selectedCity = cityname;
        this.serverFilter = string.Empty;
        searchBarComponent?.ClearFilter();
    }

    private void HandelSearchServer(string serverName)
    {
        serverFilter = serverName;
        cityListComponent?.ClearSelection();
    }
}
